<div class="row">  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="idBook" class="align">
        <th mat-header-cell *matHeaderCellDef> id </th>
        <td mat-cell *matCellDef="let element"> {{element.idBook}} </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="title" class="align">
        <th mat-header-cell *matHeaderCellDef> Titulo </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="description" class="align" >
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Descripcion </th>
        <td mat-cell *matCellDef="let element" class="w200"> {{element.description}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="pageCount" >
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Cantidad Paginas </th>
        <td mat-cell *matCellDef="let element" class="align"> {{element.pageCount}} </td>
      </ng-container>

      <ng-container matColumnDef="excerpt" class="align">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Excerpt </th>
        <td mat-cell *matCellDef="let element" class="w200"> {{element.excerpt}} </td>
      </ng-container>

      <ng-container matColumnDef="publishDate" class="align">
        <th mat-header-cell *matHeaderCellDef > PublishDate </th>
        <td mat-cell *matCellDef="let element" class="w100 align"> {{element.publishDate | date: 'shortDate' }} </td>
      </ng-container>

      <ng-container matColumnDef="autor" class="align">
        <th mat-header-cell *matHeaderCellDef > Autor </th>
        <td mat-cell *matCellDef="let element" class="w100 align"> {{element.autor }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br>
    <div>
      <div *ngIf="mostrar">
          <button class="buttonDescargar" mat-mini-fab color="primary" (click)="exportAsXLSX()">
              <mat-icon>trending_down</mat-icon>
          </button>
          <br>
          <mat-label class="labelDescargar">Descargar Excel</mat-label>
      </div>
  </div>
</div>